<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uestc.express">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="94792cd3300a6403675cd46275fcc0b6" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

        <activity android:name=".avtivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".avtivity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".avtivity.customer.CustomerHomeActivity"
            android:label="@string/title_activity_custiomer_home" />
        <activity
            android:name=".avtivity.customer.CustomerQueryActivity"
            android:label="@string/title_activity_custiomer_query" />
        <activity
            android:name=".avtivity.BaseActivity"
            android:label="@string/title_activity_base" />
        <activity
            android:name=".avtivity.customer.CustomerSendActivity"
            android:label="@string/title_activity_customer_send" />
        <activity
            android:name=".avtivity.customer.CustomerSendResultActivity"
            android:label="@string/title_activity_customer_send_result"></activity>
        <activity
            android:name=".avtivity.QRCodeActivity"
            android:label="@string/title_activity_qrcode"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".avtivity.express.ExpressHomeActivity"
            android:label="@string/title_activity_express_home"></activity>
        <activity
            android:name=".avtivity.express.TrackPositionActivity"
            android:label="@string/title_activity_track_position"></activity>
        <activity android:name=".avtivity.express.SendMessageActivity"
            android:label="发送短信"></activity>
    </application>

</manifest>
